@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Rubik:wght@300;400;500;600;700&display=swap');

$font: 'Rubik',sans-serif;
$primary-bg: #031a29;
$header-bg: #031a29b0;
$menu-bg: rgb(15, 66, 133);
$header-menu: rgb(29, 81, 150);
$header-content: rgba(33, 82, 145, 0.521);
$search-bg: #0a2c42;
$bg-transparant: #031a29c9;
$bg-transparant-2: rgba(255, 255, 255, 0.116);
$line-border: rgba(255, 255, 255, 0.151);
$line-border-2: rgba(255, 255, 255, 0.116);
$line-hover: rgba(255, 255, 255, 0.411);
$shadow: rgba(255, 255, 255, 0.075);
$shadow-white:rgba(255, 255, 255, 0.219);
$overlay: rgba(0, 0, 0, 0.185);
$white: rgb(248, 248, 248);
$white-1: #fff;

